
.gg-add {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: scale(var(--ggs,1));
  border-radius: 22px
}
.gg-add::after,
.gg-add::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 5px;
  top: 8px;
  left: 4px
  
}
.gg-add::after {
  width: 2px;
  height: 10px;
  top: 4px;
  left: 8px
}


.gg-remove {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 22px
}
.gg-remove::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 5px;
  top: 8px;
  left: 4px
}

.gg-anchor {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 2px;
  height: 14px;
  background: currentColor;
  border-radius: 8px
 }
 
 .gg-anchor::after,
 .gg-anchor::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  height: 6px;
  border: 2px solid
 }
 
 .gg-anchor::after {
  width: 12px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-color: transparent;
  left: -5px;
  bottom: 2px
 }
 
 .gg-anchor::before {
  width: 6px;
  border-radius: 8px;
  top: -4px;
  left: -2px
 } 

 /* Reset some default styles */
body, p {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.outskirts {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.numberSection {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.gg-add, .gg-remove {
  font-size: 32px;
  color: #007bff;
  cursor: pointer;
  margin:  0 50px;;
  transition: color 0.3s ease-in-out;
}

.gg-add:hover, .gg-remove:hover {
  color: #0056b3;
}


